<div class="container">
    <form id="addform">
    <p class="formHeaders">Product name:</p>
    <input id="name" class="addform" placeholder="Name" type="text">
    <p class="formHeaders">Category:</p>
    <input id="group" class="addform" placeholder="Category" type="text">
    <p class="formHeaders">Subcategory:</p>
    <input id="subgroup" class="addform" placeholder="Subcategory" type="text">
    <p class="formHeaders">Thumbnail:</p>
    <input id="image" class="addform" type="file">
    <p class="formHeaders">Price:</p>
    <input id="price" class="addform" placeholder="Price" type="number">
    <p class="formHeaders">Item Code:</p>
    <input id="code" class="addform" placeholder="Item Code" type="text">
    <p class="formHeaders">Quantity:</p>
    <input id="remaining" class="addform" placeholder="Number of items" type="number">
    <p class="formHeaders">Manufacturer:</p>
    <input id="maker" class="addform" placeholder="Manufacturer" type="text"><br>
        <br><br>
        <button type="button" id="upload">Confirm</button>
    </form>
    <p class="message" hidden></p>
</div>