.menu {
    z-index: 1;
    position: absolute;
    top: 10%;
    left: 14%;
    width: 69%;
    display: inline-flex;
}

button.category {
    border: 0;
    width: 100%;
    height: 100%;
    background-color: brown;
    color: white;
    border-radius: 6px;
}

button.category:hover{
    background-color: bisque;
}

div.category{
    border: 0;
    width: 25%;
    height: 10%;
    display: inline-block;
}

button.sub {
    border: 0;
    width: 100%;
    height: 20%;
    background-color: coral;
    color: white;
    border-radius: 6px;
}

button.sub:hover{
    background-color: bisque;
}

.subs {
    width: 25%;
    display: table-cell;
}

#genSearch {
    position: relative;
    top: 0;
    left: 14%;
    width: 69%;
    height: 15%;
    display: inline-flex;
}

#searchInput {
    position: absolute;
    top: 26%;
    left: 0;
    width: 89%;
    height: 25%;
    border-radius: 7px;
    border: 1px solid brown;
    font-size: 125%;
}

#searchButton {
    position: absolute;
    top: 26%;
    left: 90%;
    width: 10%;
    height: 25%;
    border: 0;
    border-radius: 9px;
    background-color: brown;
    color: #ffffff;
}

#searchButton:hover {
    background-color: bisque;
}

.items {
    position: relative;
    top: 9%;
    left: 14%;
    height: 88.5%;
    width: 70%;
    padding: 1%;
}

.item {
    position: relative;
    height: 23%;
    width: 15%;
    display: inline-block;
    border: 2px solid whitesmoke;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5%;
    padding-top: 0;
    font-size: 70%;
}

.itemDesc {
    display: inline-block;
    position: absolute;
}

#itemManufacturer {
    top: 10%;
    left: 55%
}

#itemName {
    position: absolute;
    left: 55%;
}

#itemPrice {
    top: 25%;
    left: 55%;
}

#itemImage {
    height: 100%;
    width: 50%;
}

#viewItem {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 70%;
    left: 50%;
}

#addToCart {
    position: absolute;
    width: 25%;
    height: 25%;
    top: 70%;
    left: 75%;
}

#viewItem:hover {
    opacity: .3;
}

#addToCart:hover {
    opacity: .3;
}

.pagination {
    position: absolute;
    bottom: 0;
    left: 36%;
}