.container {
	padding: 0 5px 0;
}
@media screen and (min-width: 960px) {
	.container {
		padding: 0 32px 0;
	}
	.navigation-item {
		height: 20px;
	}
	.navigation-list {
		width: 25vw;
	}
	.category-card {
		display: inline-block;
	}
	menu {
		padding-left: 0;
		margin-top: 0;
	}
}