.container {
	padding: 0 5px 0;
}
@media screen and (min-width: 960px) {
	.container {
		padding: 0 32px 0;
	}
	.navigation-item {
		height: 20px;
	}
	.navigation-list {
		width: 25vw;
	}
	.category-card {
		display: inline-block;
	}
	menu {
		padding-left: 0;
		margin-top: 0;
	}
	.item-metastat {
		font-size: 12px;
		color: grey;
	}
	.search-result, .product {
		.md-headline {
			font-size: 16px;
		}
		min-width: 30%;
		display: inline-block;
		a {
			cursor: pointer;
		}
		.card-buttons {
			button {
				position: relative;
			}
			i {
			    position: absolute;
			    top: 50%;
			    left: 50%;
			    transform: translate(-50%, -50%);
			}
		}
	}
}