<div ng-controller="filters" class="filters">
    <p id="filterHeader">{{"Filter search results by:" | uppercase}}</p>
    <div class="filterGroup" ng-repeat="(filterTypeName, filterType) in filterTypes">
        <p class="filterName">{{filterTypeName + ":" | uppercase}}</p>
        <div class="checkboxes" ng-repeat="filter in filterType">
            <input type="checkbox" class="filterCheckbox" id="{{'cb' + filter}}">
            <label for="{{'cb' + filter}}"><span></span>{{filter | uppercase}}</label>
        </div>
    </div>
    <div ng-show="showPrice" class="filterGroup">
        <p class="filterName">PRICE:</p>
        <p class="From">From:</p><span id="minPrice">{{funPrice1()}}</span><p class="To">To:</p><span id="maxPrice">{{funPrice2()}}</span>
        <button ng-show="funPrice1() && funPrice2()" ng-click="filterByPrice(funPrice1(), funPrice2())" class="confirmPrice">OK</button>
        <input id="fromInput" class="sliders" type="range" min="{{priceFilter[0]}}" max="{{priceFilter[1]}}" step="10" ng-model="price1"/>
        <input id="toInput" class="sliders" type="range" min="{{priceFilter[0]}}" max="{{priceFilter[1]}}" step="10" ng-model="price2"/>
    </div>
</div>